### [Finding the Cheaters](https://medium.com/@rkaplan/finding-the-tennis-suspects-c2d9f198c33d)

Requires 'puzzle_anon.csv' and 'puzzle_real.csv' files

You are asked to find the name of the top cheater by comparing the odds change of all of their matches. We'd like to identify this player who has the biggist difference between their starting odds and ending odds.

In [16]:
import pandas as pd

In [35]:
odds = pd.read_csv('puzzle_anon.csv')
odds.head()

                  name  start odds  end odds
0  1718561694846000000    0.924528  0.154088
1  1693568023468290000    0.104886  0.104886
2  6228119144908420000    0.845956  0.140993
3  2416068425895370000    0.846787  0.141131
4  2416068425895370000    0.583809  0.145952

In [36]:
player_names = pd.read_csv('puzzle_real.csv')
player_names

      name  start odds  end odds
0     hill    0.501586  0.501586
1      bob    0.337860  0.056310
2     john    0.013989  0.002331
3    sally    0.530880  0.088480
4      bob    0.323761  0.064752
..     ...         ...       ...
144    don    0.394237  0.394237
145    sue    0.001080  0.000216
146   jane    0.749858  0.149972
147   john    0.915060  0.152510
148   hill    0.351388  0.175694

[149 rows x 3 columns]